*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
}
body{ 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    max-width: 100%;
    background: url("https://i.makeagif.com/media/3-05-2021/5w19td.gif");
    background-repeat: no-repeat; 
    background-size: 1600px;
    /* background: linear-gradient(rgb(10, 133, 158),white);  */
}
.calculator{
    padding:20px;
    box-shadow: 0 0 15px black;
    border: 3px solid rgb(133, 204, 230);
    border-radius: 20px;
    background-color: rgb(2, 40, 52);
}
#display{
    width:380px;
    border: none;
    outline: none;
    padding: 20px;
    text-align: right;
    font-size: 40px;
    cursor: pointer;
    border-radius: 15px;
    margin-bottom: 20px;
    box-shadow: 1px 3px 3px 5px rgb(38, 37, 37);
}
 .buttons input[type='button']{
    width :70px;
    height: 70px;
    margin: 10px;
    font-size: 25px;
    font-weight: 600;
    border-radius: 20px;
    box-shadow: -5px -5px 15px rgb(21, 22, 22);
    border: 0;
    cursor: pointer;
 }
.btn{
    background-color: rgb(36, 142, 142);
    color: white;
}
.buttons input[type='button']:active{
    transform: translate(3px,3px);
    background-color:black;
    color: white;
}


